body {
   font-size: 18px;
   text-decoration: none;
}

.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   transition: 0.3s;
   width: 20%;
   border-radius: 5px;
   padding: 10px;
}

.card:hover {
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
   border-radius: 5px 5px 0 0;
   width: 25px;
   height: 25px;
}

/* 
.container {
   padding: 2px 8px;
} */

.small-container {
   max-width: 1080px;
   margin: auto;
   padding-left: 25px;
   padding-right: 25px;
}

.row {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
}

.col-4 {
   flex-basis: 25%;
   padding: 10px;
   min-width: 200px;
   margin-bottom: 50px;
}

.col-4 img {
   width: 100px;
   height: 100px;
}

.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   transition: 0.3s;
   width: 100%;
   border-radius: 5px;
}

.card:hover {
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
   border-radius: 5px 5px 0 0;
}

form {
   margin: 20px;
   font-size: 10px;
}